@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 1200px;
}
.Nav_work {
    font-family: var(--font-poppins);
}
.Nav_work:hover {
    color: var(--color-blue);
}

/* ACTIVE LINKS */

.Nav_work:active {
    color: var(--color-blue);
}
.Nav_work:focus {
    color: var(--color-blue);
}
.Nav_work:visited {
    color: var(--color-blue);
}
.Nav_work:link {
    color: var(--color-blue);
}
.Nav_work:target {
    color: var(--color-blue);
}
.Nav_work:visited {
    color: var(--color-blue);
}
.Nav_work:visited:hover {
    color: var(--color-blue);
}
.Nav_work:visited:active {
    color: var(--color-blue);
}